       body {
           background-color: #c0e6f9;
           background-repeat: no-repeat;  
           background-size: cover;         
           background-attachment: fixed;
           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
       }
     
       html, body {
    height: 100%;
    margin: 0;
}

.center-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;              
} /* used google for this one */ 

form {
    text-align: center;
    padding: 300px;
    border-radius: 100px;
}

footer {
    background-color: rgba(255, 249, 249, 0.6); 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 40%;  
    width: 150%;
    height: auto;
}